<!-- header section start -->
<div class="header_section header_main">
  <app-nav></app-nav>
</div>
<!-- New Arrivals section start -->
<div class="collection_text">Shoes</div>
  <div class="collection_section layout_padding">
    <div class="container">
      <h1 class="new_text"><strong>New Arrivals Products</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
  </div>
  <div class="layout_padding gallery_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Best Shoes </p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img4.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">60</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Best Shoes </p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img5.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">400</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Best Shoes </p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img6.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">50</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Sports Shoes</p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img7.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">70</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Sports Shoes</p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img8.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">100</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="best_shoes">
            <p class="best_text">Sports Shoes</p>
            <div class="shoes_icon"><img src="/assets/images//shoes-img9.png"></div>
            <div class="star_text">
              <div class="left_part">
                <ul>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                    <li><a href="#"><img src="/assets/images//star-icon.png"></a></li>
                  </ul>
              </div>
              <div class="right_part">
                <div class="shoes_price">$ <span style="color: #ff4e5b;">90</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buy_now_bt">
        <button class="buy_text">Buy Now</button>
      </div>
    </div>
  </div>
   <!-- New Arrivals section end -->
   <app-footer></app-footer>
