<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="logo"><a href="index.html"><img src="/assets/images//logo.png"></a></div>
    </div>
    <div class="col-sm-9">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                       <a class="nav-item nav-link" routerLink="/">Home</a>
                       <a class="nav-item nav-link" routerLink="/collection">Collection</a>
                       <a class="nav-item nav-link" routerLink="/shoes">Shoes</a>
                       <a class="nav-item nav-link" routerLink="/racing-boots">Racing Boots</a>
                       <a class="nav-item nav-link" routerLink="/contact">Contact</a>
                       <a class="nav-item nav-link last" href="#"><img src="/assets/images//search_icon.png"></a>
                       <a class="nav-item nav-link last"  routerLink="/contact"><img src="/assets/images//shop_icon.png"></a>
                    </div>
                </div>
                </nav>
    </div>
  </div>
</div>

