<!-- header section start -->
<div class="header_section header_main">
  <app-nav></app-nav>
</div>
<!-- new collection section start -->
<div class="collection_text">Racing Boots</div>
 <div class="about_main layout_padding">
  <div class="collection_section">
    <div class="container">
      <h1 class="new_text"><strong>Racing Boots</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
  </div>
  <div class="collectipn_section_3 layout_padding">
    <div class="container">
      <div class="racing_shoes">
        <div class="row">
          <div class="col-md-8">
            <div class="shoes-img3"><img src="/assets/images//shoes-img3.png"></div>
          </div>
          <div class="col-md-4">
            <div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">JOGING</span> <br>SHOES</strong></div>
            <div class="number_text"><strong>$ <span style="color: #0a0506">100</span></strong></div>
            <button class="seemore">See More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- new collection section end -->
<app-footer></app-footer>
